# macOS
*.DS_Store

# Vim & Emacs
*~

# Vim
*.sw[p-z]

# Emacs
\#*\#
.\#*

# JetBrains IDEs
**/.idea/*

# Python venv
.venv/

# West
.west/
build/
/zephyr/
/modules/
/zmk/
/zmk-helpers/
/zmk-auto-layer/

# Firmware files
*.uf2
