#include "config.dtsi"

// Make sure that there are no other imports, otherwise the config will be overwritten (e.g., behavior reconfigurations)
/ {
  keymap {
    compatible = "zmk,keymap";

    default {
      bindings = <
        &smart_fun FUNCTION 0   &auto_rg N1 GRAVE   &auto_rg N2 LBKT   &auto_rg N3 LBRC    &auto_rg N4 RBRC   &auto_rg N5 UNDER   &none                                                                                                                                                                              &none         &auto_rg N6 N0   &auto_rg N7 EQUAL   &auto_rg N8 LPAR       &ad_n9             &auto_rg N0 N0         &smart_fun FUNCTION 0
        &auto_rg N0 N0          &auto_rg Q Q        &auto_rg W W       &auto_rg E E        &auto_rg R R       &auto_rg T T        &ht_kp_ad_cmd_right_bracket LG(UP) 0                                                                                                                                               &redo_morph   &auto_rg Y Y     &auto_rg U U        &auto_rg I I           &auto_rg O O       &auto_rg P P           &auto_rg SEMI SEMI
        &auto_rg N0 N0          &auto_rg A A        &auto_rg S S       &auto_rg D D        &auto_rg F F       &auto_rg G G        &ht_kp_ad_cmd_left_bracket LG(DOWN) 0                                  &kp_rg NUBS    &kp LC(NUBS)   &kp LC(NUBS)                  &kp_rg NUBS                                     &undo_morph   &auto_rg H H     &auto_rg J J        &auto_rg K K           &auto_rg L L       &auto_rg SEMI COLON    &auto_rg SQT SQT
        &smart_num              &auto_rg Z Z        &auto_rg X X       &auto_rg C C        &auto_rg V V       &auto_rg B B                                                                                              &sl SYMBOLS    &sl SYMBOLS                                                                                 &auto_rg N N     &auto_rg M M        &auto_rg COMMA COMMA   &auto_rg DOT DOT   &auto_rg SLASH SLASH   &auto_rg DQT DQT
        &ht_sl_mo MOD MOD       &hml LCTRL TILDE    &hml LALT LEFT     &hml LGUI LS(TAB)   &hml LSHIFT TAB                                                                &auto_rg BACKSPACE BACKSPACE   &smart_shift   &sk LALT       &ht_kp_kp LC(NUBS) LG(NUBS)   &auto_rg RETURN RETURN   &auto_rg SPACE SPACE                                  &hmr LSHIFT DOWN    &hmr LGUI UP           &hmr LALT RIGHT    &hmr LCTRL N0          &ht_sl_mo MOD MOD
      >;
    };
    numbers {
      bindings = <
        &trans        &trans   &trans   &trans   &trans   &trans   &trans                                                            &trans   &u_euro           &kp KP_EQUAL        &kp KP_LEFT_PARENTHESIS   &kp KP_RIGHT_PARENTHESIS   &trans          &trans
        &trans        &trans   &trans   &trans   &trans   &trans   &trans                                                            &trans   &kp DOLLAR        &kp KP_N7           &kp KP_N8                 &kp KP_N9                  &kp PERCENT     &trans
        &trans        &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans               &trans   &kp KP_MINUS      &hmr RSHIFT KP_N4   &hmr RGUI KP_N5           &hmr RALT KP_N6            &kp KP_PLUS     &trans
        &to DEFAULT   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                                 &kp KP_MULTIPLY   &kp KP_N1           &kp KP_N2                 &kp KP_N3                  &kp KP_DIVIDE   &trans
        &trans        &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &kp KP_N0   &trans                              &none               &kp KP_COMMA              &kp KP_DOT                 &trans          &trans
      >;
    };
    symbols {
      bindings = <
        &trans                   &trans             &trans             &trans          &trans        &trans   &trans                                                         &trans   &trans   &trans             &fr_i_diaeresis    &trans             &trans   &trans
        &trans                   &fr_a_circumflex   &fr_e_circumflex   &fr_e_acute     &fr_e_grave   &trans   &trans                                                         &trans   &trans   &fr_u_circumflex   &fr_i_circumflex   &fr_o_circumflex   &trans   &trans
        &u_double_quotes_morph   &fr_a_grave        &trans             &trans          &trans        &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &m_fr_ou           &trans             &trans             &trans   &u_single_quote_morph
        &trans                   &trans             &trans             &fr_c_cedilla   &trans        &trans                              &trans   &trans                              &trans   &trans             &trans             &trans             &trans   &trans
        &trans                   &trans             &trans             &trans          &trans                          &trans   &trans   &trans   &trans   &trans   &trans                     &trans             &trans             &trans             &trans   &trans
      >;
    };
    function {
      bindings = <
        &to DEFAULT   &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F11                                                         &kp F12   &kp F6   &kp F7   &kp F8   &kp F9   &kp F10   &to DEFAULT
        &trans        &trans   &trans   &trans   &trans   &trans   &trans                                                          &trans    &trans   &trans   &trans   &trans   &trans    &trans
        &trans        &trans   &trans   &trans   &trans   &trans   &trans             &trans   &trans   &trans   &trans            &trans    &trans   &trans   &trans   &trans   &trans    &trans
        &trans        &trans   &trans   &trans   &trans   &trans                               &trans   &trans                               &trans   &trans   &trans   &trans   &trans    &trans
        &trans        &trans   &trans   &trans   &trans                      &trans   &trans   &trans   &trans   &trans   &trans                      &trans   &trans   &trans   &trans    &trans
      >;
    };
    mod {
      bindings = <
        &bootloader   &kp F1         &kp F2         &kp F3         &kp F4         &kp F5   &none                                                                                        &none   &kp F6   &kp F7       &kp F8       &ht_kp_kp F11 F9   &ht_kp_kp F12 F10   &bootloader
        &none         &none          &none          &none          &none          &none    &none                                                                                        &none   &none    &none        &none        &none              &none               &none
        &none         &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &none    &none                &none                    &none   &none   &none                          &none   &none    &bl BL_DEC   &bl BL_INC   &none              &none               &none
        &none         &none          &none          &none          &none          &none                                                  &none   &none                                          &none    &none        &none        &none              &none               &none
        &trans        &none          &none          &none          &none                           &bt BT_CLR   &rgb_ug RGB_MEFS_CMD 5   &none   &none   &rgb_ug RGB_TOG   &bl BL_TOG                    &none        &none        &none              &none               &trans
      >;
    };
    layer_5 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_6 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_7 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_8 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_9 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_10 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_11 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_12 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_13 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_14 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_15 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_16 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_17 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_18 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_19 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_20 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_21 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_22 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_23 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_24 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_25 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_26 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_27 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_28 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_29 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_30 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    layer_31 {
      bindings = <
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
        &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
  };
};
