/*
 ╭────────────────────────────┬────────────────────────────╮
 │  0   1   2   3   4   5   6 │  7   8   9  10  11  12  13 │
 │ 14  15  16  17  18  19  20 │ 21  22  23  24  25  26  27 │
 │ 28  29  30  31  32  33  34 │ 39  40  41  42  43  44  45 │
 │ 46  47  48  49  50  51 ╭───┴───╮ 54  55  56  57  58  59 │
 │ 60  61  62  63  64╭────╯       ╰────╮71  72  73  74  75 │
 ╰───────────────────┼────────┬────────┼───────────────────╯
                 ╭───╯ 35  36 │ 37  38 ╰───╮
                 │         52 │ 53         │
                 │ 65  66  67 │ 68  69  70 │
                 ╰────────────┴────────────╯
*/

#define COMBO_TERM_MS 110 // Default: 50
#define COMBO_IDLE_MS 150 // Default: disabled


/* Left hand - Horizontal */

ZMK_COMBO(left_escape, &ht_rgkp_kp ESCAPE ESCAPE, 30 31, DEFAULT, COMBO_TERM_MS, COMBO_IDLE_MS)
ZMK_COMBO(left_escape_bis, &ht_rgkp_kp ESCAPE ESCAPE, 31 32, DEFAULT, COMBO_TERM_MS)
ZMK_COMBO(32_33, &ht_kp_kp N0 N0, 32 33, DEFAULT, COMBO_TERM_MS, COMBO_IDLE_MS)

ZMK_COMBO(left_ra_nubs, &ht_kp_rakp RA(RS(NUBS)) NUBS, 48 49, ALL, COMBO_TERM_MS, COMBO_IDLE_MS)
//ZMK_COMBO(left_return, &ht_rgkp_kp RETURN RETURN, 49 50, DEFAULT, COMBO_TERM_MS)
ZMK_COMBO(50_51, &ht_kp_kp N0 N0, 50 51, DEFAULT, COMBO_TERM_MS, COMBO_IDLE_MS)

//ZMK_COMBO(left_return_2, &ht_rgkp_kp RETURN RETURN, 63 64, DEFAULT, COMBO_TERM_MS)


/* Right hand - Horizontal */

ZMK_COMBO(40_41, &ht_kp_kp N0 N0, 40 41, DEFAULT, COMBO_TERM_MS, COMBO_IDLE_MS)
ZMK_COMBO(right_escape, &ht_rgkp_kp ESCAPE ESCAPE, 41 42, DEFAULT, COMBO_TERM_MS)
ZMK_COMBO(right_return, &sht_rgkp_kp RETURN RETURN, 42 43, DEFAULT, COMBO_TERM_MS)

//ZMK_COMBO(54_55, &ht_kp_kp N0 N0, 54 55, DEFAULT, COMBO_TERM_MS, COMBO_IDLE_MS)
//ZMK_COMBO(right_return, &ht_rgkp_kp RETURN RETURN, 55 56, DEFAULT, 130)
ZMK_COMBO(right_ra_nubs, &ht_kp_rakp RA(RS(NUBS)) NUBS, 56 57, ALL, COMBO_TERM_MS, COMBO_IDLE_MS)

ZMK_COMBO(right_return_2, &ht_rgkp_kp RETURN RETURN, 71 72, DEFAULT, 150)
