/*
 ╭────────────────────────────┬────────────────────────────╮
 │  0   1   2   3   4   5   6 │  7   8   9  10  11  12  13 │
 │ 14  15  16  17  18  19  20 │ 21  22  23  24  25  26  27 │
 │ 28  29  30  31  32  33  34 │ 39  40  41  42  43  44  45 │
 │ 46  47  48  49  50  51 ╭───┴───╮ 54  55  56  57  58  59 │
 │ 60  61  62  63  64╭────╯       ╰────╮71  72  73  74  75 │
 ╰───────────────────┼────────┬────────┼───────────────────╯
                 ╭───╯ 35  36 │ 37  38 ╰───╮
                 │         52 │ 53         │
                 │ 65  66  67 │ 68  69  70 │
                 ╰────────────┴────────────╯
*/

#define COMBO_TERM_MS 110 // Default: 50
#define COMBO_IDLE_MS 150 // Default: disabled


/* Left hand - Horizontal */

ZMK_COMBO(combo_left_lalgspace, &ht_kp_kp LA(LG(LS(SPACE))) LA(LG(SPACE)), 31 32 33, ALL, COMBO_TERM_MS) // No prior idle

ZMK_COMBO(combo_left_ag_escape, &ht_rgkp_kp ESCAPE ESCAPE, 30 31, ALL, COMBO_TERM_MS) // No prior idle
ZMK_COMBO(combo_left_rg_nubs, &ht_kp_rgkp RG(RS(NUBS)) NUBS, 31 32, ALL, COMBO_TERM_MS, COMBO_IDLE_MS)

ZMK_COMBO(combo_left_ra_nubs, &ht_rgkp_rakp TAB NUBS, 48 49, ALL, COMBO_TERM_MS, COMBO_IDLE_MS)
ZMK_COMBO(combo_left_rc_nubs, &ht_kp_rckp RC(RS(NUBS)) NUBS, 49 50, ALL, COMBO_TERM_MS, COMBO_IDLE_MS)

ZMK_COMBO(combo_left_ag_lsescape, &ht_rgkp_kp LS(ESCAPE) LS(ESCAPE), 62 63, ALL, COMBO_TERM_MS) // No prior idle
ZMK_COMBO(combo_left_ag_escape, &ht_rgkp_kp ESCAPE ESCAPE, 63 64, ALL, COMBO_TERM_MS) // No prior idle

// Thumb
ZMK_COMBO(combo_left_rg_backspace, &kp RG(BACKSPACE), 65 66, ALL, COMBO_TERM_MS) // No prior idle


/* Right hand - Horizontal */

ZMK_COMBO(combo_right_lclgspace, &ht_kp_kp LC(LG(LS(SPACE))) LC(LG(SPACE)), 41 42 43, ALL, COMBO_TERM_MS) // No prior idle

ZMK_COMBO(combo_right_rg_nubs, &ht_kp_rgkp RG(RS(NUBS)) NUBS, 41 42, DEFAULT, COMBO_TERM_MS, COMBO_IDLE_MS) // DEFAULT because of numberpad

ZMK_COMBO(combo_right_rc_nubs, &ht_kp_rckp RC(RS(NUBS)) NUBS, 55 56, DEFAULT, COMBO_TERM_MS, COMBO_IDLE_MS) // DEFAULT because of numberpad
ZMK_COMBO(combo_right_ra_nubs, &ht_kp_rakp RA(RS(NUBS)) NUBS, 56 57, DEFAULT, COMBO_TERM_MS, COMBO_IDLE_MS) // DEFAULT because of numberpad

ZMK_COMBO(combo_right_ag_return_arrows, &ht_rgkp_kp RETURN RETURN, 71 72, ALL, COMBO_TERM_MS) // No prior idle
ZMK_COMBO(combo_right_ag_lsreturn_arrows, &ht_rgkp_kp LS(RETURN) LS(RETURN), 72 73, ALL, COMBO_TERM_MS) // No prior idle

// Thumb
ZMK_COMBO(combo_right_lg_la_lc_f, &kp LG(LA(LC(F))), 69 70, ALL, COMBO_TERM_MS) // No prior idle
