#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

// Must be set before including helper.h
#define HOST_OS 2
// = macOS
#include "zmk-helpers/helper.h"

#include "adv360_symbols.h"
#include "secret.dtsi"

/*
 ╭────────────────────────────┬────────────────────────────╮
 │  0   1   2   3   4   5   6 │  7   8   9  10  11  12  13 │
 │ 14  15  16  17  18  19  20 │ 21  22  23  24  25  26  27 │
 │ 28  29  30  31  32  33  34 │ 39  40  41  42  43  44  45 │
 │ 46  47  48  49  50  51 ╭───┴───╮ 54  55  56  57  58  59 │
 │ 60  61  62  63  64╭────╯       ╰────╮71  72  73  74  75 │
 ╰───────────────────┼────────┬────────┼───────────────────╯
                 ╭───╯ 35  36 │ 37  38 ╰───╮
                 │         52 │ 53         │
                 │ 65  66  67 │ 68  69  70 │
                 ╰────────────┴────────────╯
*/
#define KEYS_LEFT 0 1 2 3 4 5 6 \
                  14 15 16 17 18 19 20 \
                  28 29 30 31 32 33 34 \
                  46 47 48 49 50 51 \
                  60 61 62 63 64

#define KEYS_RIGHT 7 8 9 10 11 12 13 \
                   21 22 23 24 25 26 27 \
                   39 40 41 42 43 44 45 \
                   54 55 56 57 58 59 \
                   71 72 73 74 75

#define THUMBS_LEFT 35 36 52 65 66 67

#define THUMBS_RIGHT 37 38 53 68 69 70

#define NUMPAD 23 24 25 \
               41 42 43 \
               55 56 57 \
               69 70


#define DEFAULT 0
#define NUMBERS 1
#define UNICODE_1 2
//#define FUNCTION 3
#define MOD 4


/* Global Settings */

#define QUICK_TAP_MS 175
#define DEFAULT_ADAPTIVE_TIMEOUT_MS 1000

&sk { // Sticky Key
	release-after-ms = <900>; // Release after 0.9s
	quick-release;            // No double capitalization when rolling keys
};

&sl { // Sticky Layer
	release-after-ms = <5000>; // Default: 1000
	ignore-modifiers;          // Allow chording sticky mods & layers
};

&lt { // Layer-Tap
	flavor = "balanced";
	tapping-term-ms = <200>;
	quick-tap-ms = <QUICK_TAP_MS>;
};

// TODO: WWWWW != Wwwww == WWWWWW (same for e, b)

/* Macros */

#define SIMPLE_MACRO(NAME, SEQUENCE) \
	ZMK_MACRO(NAME, \
		wait-ms = <0>; \
		tap-ms = <0>; \
		bindings = <SEQUENCE>; \
	)

ZMK_MACRO_ONE_PARAM(kp_reset,
	wait-ms = <0>;
	tap-ms = <0>;
	bindings
	= <&macro_param_1to1>
	, <&kp MACRO_PLACEHOLDER &to DEFAULT>;
)

/* Morphs */

#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_MOD_MORPH(NAME, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

#define TAP_PREFERRED_HOLD_TAP(...) CONCAT(TAP_PREFERRED_HOLD_TAP_, VARGS(__VA_ARGS__))(__VA_ARGS__)
#define TAP_PREFERRED_HOLD_TAP_3(NAME, HOLD, TAP) \
    TAP_PREFERRED_HOLD_TAP_4(NAME, HOLD, TAP, 180)
#define TAP_PREFERRED_HOLD_TAP_4(NAME, HOLD, TAP, TERM) \
    TAP_PREFERRED_HOLD_TAP_5(NAME, HOLD, TAP, TERM, 200)
#define TAP_PREFERRED_HOLD_TAP_5(NAME, HOLD, TAP, TERM, IDLE) \
    ZMK_HOLD_TAP(NAME, \
		flavor = "tap-preferred"; \
		tapping-term-ms = <TERM>; \
		quick-tap-ms = <0>; \
		require-prior-idle-ms = <IDLE>; \
		bindings = <HOLD>, <TAP>; \
 	)

TAP_PREFERRED_HOLD_TAP(ht_kp_kp, &kp, &kp)
TAP_PREFERRED_HOLD_TAP(sht_kp_kp, &kp, &kp, 280, 200) // s = slow
TAP_PREFERRED_HOLD_TAP(ht_mo_kp, &mo, &kp)

#define BALANCED_HOLD_TAP(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_HOLD_TAP(NAME, \
		flavor = "balanced"; \
		tapping-term-ms = <180>; \
		quick-tap-ms = <0>; \
		require-prior-idle-ms = <200>; \
		bindings = <HOLD>, <TAP>; \
		hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
 	)

ZMK_AUTO_LAYER(number_word,
	continue-list = <BACKSPACE DELETE DOT COMMA>;
	ignore-numbers;
)

ZMK_ADAPTIVE_KEY(ht_num_backspace,
	bindings = <&bht_numword_kp NUMBERS BACKSPACE>;
	backspace {
		trigger-keys = <BACKSPACE>;
		max-prior-idle-ms = <500>;
		bindings = <&kp BACKSPACE>;
	};
)
BALANCED_HOLD_TAP(bht_numword_kp, &number_word, &kp, NUMPAD)


#define KP_MOD_SEQUENCE(NAME, MOD) \
	ZMK_MACRO_ONE_PARAM(NAME, \
		wait-ms = <25>; \
		tap-ms = <0>; \
		bindings \
		= <&macro_press &kp MOD> \
		, <&macro_param_1to1> \
		, <&macro_tap &kp MACRO_PLACEHOLDER> \
		, <&macro_release &kp MOD>; \
	)

KP_MOD_SEQUENCE(lakp, LALT)

KP_MOD_SEQUENCE(rgkp, RGUI)
KP_MOD_SEQUENCE(rakp, RALT)
KP_MOD_SEQUENCE(rckp, RCTL)

TAP_PREFERRED_HOLD_TAP(ht_rgkp_kp, &rgkp, &kp)
TAP_PREFERRED_HOLD_TAP(sht_rgkp_kp, &rgkp, &kp, 280, 200)
TAP_PREFERRED_HOLD_TAP(ht_rckp_rgkp, &rckp, &rgkp)
TAP_PREFERRED_HOLD_TAP(ht_lakp_rakp, &lakp, &rakp)
TAP_PREFERRED_HOLD_TAP(ht_kp_rakp, &kp, &rakp)


/* Homerow Mods */

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_HOLD_TAP(NAME, \
        flavor = "balanced"; \
        tapping-term-ms = <180>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        require-prior-idle-ms = <200>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )
MAKE_HRM(hml, &kp, &kp, KEYS_RIGHT THUMBS_LEFT THUMBS_RIGHT) // Left-hand HRMs
MAKE_HRM(hmr, &kp, &kp, KEYS_LEFT THUMBS_LEFT THUMBS_RIGHT) // Right-hand HRMs


/* Combos */

/*
 ╭────────────────────────────┬────────────────────────────╮
 │  0   1   2   3   4   5   6 │  7   8   9  10  11  12  13 │
 │ 14  15  16  17  18  19  20 │ 21  22  23  24  25  26  27 │
 │ 28  29  30  31  32  33  34 │ 39  40  41  42  43  44  45 │
 │ 46  47  48  49  50  51 ╭───┴───╮ 54  55  56  57  58  59 │
 │ 60  61  62  63  64╭────╯       ╰────╮71  72  73  74  75 │
 ╰───────────────────┼────────┬────────┼───────────────────╯
                 ╭───╯ 35  36 │ 37  38 ╰───╮
                 │         52 │ 53         │
                 │ 65  66  67 │ 68  69  70 │
                 ╰────────────┴────────────╯
*/

#define COMBO_TERM_SLOW 110
#define COMBO_IDLE_SLOW 150

// todo: mod layer does not need to be tap, hold is sufficient
// todo: space as right key when previous arrow?

// Left hand - Horizontal
ZMK_COMBO(left_escape, &ht_rgkp_kp ESCAPE ESCAPE, 30 31, DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(left_escape_bis, &ht_rgkp_kp ESCAPE ESCAPE, 31 32, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(32_33, &ht_kp_kp N0 N0, 32 33, DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(left_ra_nubs, &ht_kp_rakp RA(RS(NUBS)) NUBS, 48 49, ALL, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
//ZMK_COMBO(left_return, &ht_rgkp_kp RETURN RETURN, 49 50, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(50_51, &ht_kp_kp N0 N0, 50 51, DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

//ZMK_COMBO(left_return_2, &ht_rgkp_kp RETURN RETURN, 63 64, DEFAULT, COMBO_TERM_SLOW)

// Left hand - Vertical
ZMK_MOD_MORPH(secret_morph,
	bindings = <&m_secret_return>, <&m_secret>;
	mods = <(MOD_RSFT)>;
)
ZMK_COMBO(secret, &secret_morph, 0 14, ALL, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

// Right hand - Horizontal
ZMK_COMBO(40_41, &ht_kp_kp N0 N0, 40 41, DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(right_escape, &ht_rgkp_kp ESCAPE ESCAPE, 41 42, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(right_return, &sht_rgkp_kp RETURN RETURN, 42 43, DEFAULT, COMBO_TERM_SLOW)

//ZMK_COMBO(54_55, &ht_kp_kp N0 N0, 54 55, DEFAULT, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
//ZMK_COMBO(right_return, &ht_rgkp_kp RETURN RETURN, 55 56, DEFAULT, 130)
ZMK_COMBO(right_ra_nubs, &ht_kp_rakp RA(RS(NUBS)) NUBS, 56 57, ALL, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(right_return_2, &ht_rgkp_kp RETURN RETURN, 71 72, DEFAULT, 150)

/* Symbols */

SIMPLE_MACRO(m_curly_single_quote_pair, &u_left_curly_single_quote &u_curly_apostrophe &kp LEFT)

SIMPLE_MORPH(u_single_quote_morph, SFT, &u_curly_apostrophe, &m_curly_single_quote_pair)

SIMPLE_MACRO(m_curly_double_quotes_pair, &u_left_curly_double_quotes &u_right_curly_double_quotes &kp LEFT)
SIMPLE_MACRO(m_guillemet_pair, &u_guillemet_left &kp SPACE &kp SPACE &u_guillemet_right &kp LEFT &kp LEFT)

SIMPLE_MORPH(u_double_quotes_morph, SFT, &m_curly_double_quotes_pair, &m_guillemet_pair)

SIMPLE_MACRO(m_fr_ou, &kp O &fr_u_grave)


/* Custom Behaviors */

/* Number Row */

#define MAKE_NUMBER_ROW_KEY(NAME, NUMBER, KEY, KEY_LOWER, RS_KEY, RS_KEY_LOWER) \
	ZMK_ADAPTIVE_KEY(NAME, \
		bindings = <&KEY_LOWER ## _mod_morph>; \
	) \
	ZMK_MOD_MORPH(KEY_LOWER ## _mod_morph, \
		bindings = <&KEY_LOWER ## _morph>, <&kp NUMBER>; \
		mods = <(MOD_LSFT|MOD_LGUI|MOD_LALT|MOD_LCTL)>; \
		keep-mods = <(MOD_LSFT|MOD_LGUI|MOD_LALT|MOD_LCTL)>; \
	) \
	ZMK_MOD_MORPH(KEY_LOWER ## _morph, \
		bindings = <&ht_rgkp_kp NUMBER KEY>, <&ht_rgkp_kp RS(NUMBER) RS_KEY>; \
		mods = <(MOD_RSFT)>; \
	)

// 1
MAKE_NUMBER_ROW_KEY(ag_n1, N5, CARET, caret, TILDE, tilde) // todo: any previous number should keep the lg
// 2
MAKE_NUMBER_ROW_KEY(ag_n2, N3, LEFT_BRACKET, left_bracket, HASH, hash)
// 3
MAKE_NUMBER_ROW_KEY(ag_n3, N1, LEFT_BRACE, left_brace, RIGHT_BRACKET, right_bracket)
// 4
MAKE_NUMBER_ROW_KEY(ag_n4, N2, QUESTION, question, RIGHT_BRACE, right_brace)
// 5
MAKE_NUMBER_ROW_KEY(ag_n5, N4, BANG, bang, STAR, star) // `BANG` is deprecated but I’m a daredevil
// todo disable numword after a given timeout


// todo return combo kkkkk

// 6
MAKE_NUMBER_ROW_KEY(ag_n6, N7, UNDERSCORE, underscore, AMPERSAND, ampersand)
// 7
MAKE_NUMBER_ROW_KEY(ag_n7, N9, MINUS, minus, LESS_THAN, less_than) // todo: ampersand cannot be twiced (neither is pipe)
// 8
ZMK_ADAPTIVE_KEY(ag_n8, // TODO
	bindings = <&n8_morph>;
	greater_than { trigger-keys = <MINUS EQUAL LESS_THAN>; bindings = <&ht_rgkp_kp N8 GREATER_THAN>; };
)
ZMK_MOD_MORPH(n8_morph,
	bindings = <&ht_rgkp_kp N0 LEFT_PARENTHESIS>, <&ht_rgkp_kp LS(N0) GREATER_THAN>;
	mods = <(MOD_RSFT)>;
)
// 9
ZMK_ADAPTIVE_KEY(ag_n9,
	bindings = <&n9_morph>;
	greater_than { trigger-keys = <LEFT_PARENTHESIS>; bindings = <&ht_rgkp_kp N9 RIGHT_PARENTHESIS>; };
)
ZMK_MOD_MORPH(n9_morph,
	bindings = <&ht_rgkp_kp N8 EQUAL>, <&ht_rgkp_kp LS(N8) RIGHT_PARENTHESIS>;
	mods = <(MOD_RSFT)>;
)
// 0
MAKE_NUMBER_ROW_KEY(ag_n0, N6, PLUS, plus, ASTERISK, asterisk)


/* Top Row */

// Grave
ZMK_ADAPTIVE_KEY(ag_grave,
	bindings = <&grave_morph>;
)
ZMK_MOD_MORPH(grave_morph,
	bindings = <&ht_rgkp_kp GRAVE GRAVE>, <&ht_rgkp_mtriplebackticks RS(GRAVE) 0>; // TODO: make sure RS everywhere
	mods = <(MOD_RSFT)>;
)
TAP_PREFERRED_HOLD_TAP(ht_rgkp_mtriplebackticks, &rgkp, &m_triple_backticks)
SIMPLE_MACRO(m_triple_backticks, &kp GRAVE &kp GRAVE &kp GRAVE)

// Q
ZMK_ADAPTIVE_KEY(ag_q, // ag = adaptive gui
	bindings = <&ht_rgkp_kp Q Q>;
)
// W
ZMK_ADAPTIVE_KEY(ag_w,
	bindings = <&ht_rgkp_kp W W>;
	rg_w {
		trigger-keys = <LG(W) RG(W)>;
		max-prior-idle-ms = <DEFAULT_ADAPTIVE_TIMEOUT_MS>;
		bindings = <&rgkp W>;
		strict-modifiers;
	};
)
// E
ZMK_ADAPTIVE_KEY(ag_e,
	bindings = <&ht_rgkp_kp E E>;

)
// R
ZMK_ADAPTIVE_KEY(ag_r,
	bindings = <&ht_rgkp_kp R R>;
)
// T
ZMK_ADAPTIVE_KEY(ag_t,
	bindings = <&sht_rgkp_kp T T>; // Slow because misfires
)

// Y
ZMK_ADAPTIVE_KEY(ag_y,
	bindings = <&ht_rgkp_kp Y Y>;
)
// U
ZMK_ADAPTIVE_KEY(ag_u,
	bindings = <&ht_rgkp_kp U U>;
)
// I
ZMK_ADAPTIVE_KEY(ag_i,
	bindings = <&ht_rgkp_kp I I>;
)
// O
ZMK_ADAPTIVE_KEY(ag_o,
	bindings = <&ht_rgkp_kp O O>;
)
// P
ZMK_ADAPTIVE_KEY(ag_p,
	bindings = <&sht_rgkp_kp P P>; // Slow because misfires
)

// Backslash
ZMK_ADAPTIVE_KEY(ag_backslash,
	bindings = <&ht_rgkp_kp BACKSLASH BACKSLASH>;
)

// todo: em dashes
/* Middle Row */

// Double quotes
ZMK_ADAPTIVE_KEY(ag_double_quotes,
	bindings = <&double_quotes_morph>;
)
ZMK_MOD_MORPH(double_quotes_morph,
	bindings = <&ht_rgkp_kp DOUBLE_QUOTES DOUBLE_QUOTES>, <&m_curly_double_quotes_pair>;
	mods = <(MOD_LSFT)>;
)

// A
ZMK_ADAPTIVE_KEY(ag_a,
	bindings = <&ht_rgkp_kp A A>;
)
// S
ZMK_ADAPTIVE_KEY(ag_s,
	bindings = <&ht_rgkp_kp S S>;
)
// D
ZMK_ADAPTIVE_KEY(ag_d,
	bindings = <&ht_rgkp_kp D D>;
)
// F
ZMK_ADAPTIVE_KEY(ag_f,
	bindings = <&ht_rgkp_kp F F>;
)
// G
ZMK_ADAPTIVE_KEY(ag_g,
	bindings = <&ht_rgkp_kp G G>;
)

// H
ZMK_ADAPTIVE_KEY(ag_h,
	bindings = <&ht_rgkp_kp H H>;
)
// J
ZMK_ADAPTIVE_KEY(ag_j,
	bindings = <&ht_rgkp_kp J J>;
)
// K
ZMK_ADAPTIVE_KEY(ag_k,
	bindings = <&ht_rgkp_kp K K>;
)
// L
ZMK_ADAPTIVE_KEY(ag_l,
	bindings = <&ht_rgkp_kp L L>;
)

// Colon
ZMK_ADAPTIVE_KEY(ag_colon,
	bindings = <&colon_mod_morph>;
)
ZMK_MOD_MORPH(colon_mod_morph,
	bindings = <&colon_morph>, <&kp SEMICOLON>;
	mods = <(MOD_LSFT|MOD_LGUI|MOD_LALT|MOD_LCTL)>;
	keep-mods = <(MOD_LSFT|MOD_LGUI|MOD_LALT|MOD_LCTL)>;
)
ZMK_MOD_MORPH(colon_morph,
	bindings = <&ht_rgkp_kp SEMICOLON COLON>, <&ht_rgkp_kp RS(SEMICOLON) PLUS>;
	mods = <(MOD_RSFT)>;
)

// Single quote
ZMK_ADAPTIVE_KEY(ag_single_quote,
	bindings = <&single_quote_morph>;
)
ZMK_MOD_MORPH(single_quote_morph,
	bindings = <&ht_rgkp_kp SINGLE_QUOTE SINGLE_QUOTE>, <&ht_rgkp_ucurlyapostrophe RS(SINGLE_QUOTE) 0>;
	mods = <(MOD_RSFT)>;
)
TAP_PREFERRED_HOLD_TAP(ht_rgkp_ucurlyapostrophe, &rgkp, &u_curly_apostrophe)


// todo: zoom =+0
// todo: cmd brace can be repeated while held, which is unwanted

/* Bottom Row */

// Z
ZMK_ADAPTIVE_KEY(ag_z,
	bindings = <&ht_rgkp_kp Z Z>;
)
// X
ZMK_ADAPTIVE_KEY(ag_x,
	bindings = <&ht_rgkp_kp X X>;
)
// C
ZMK_ADAPTIVE_KEY(ag_c,
	bindings = <&ht_rgkp_kp C C>; // todo: implement adaptive for zxcv
)
// V
ZMK_ADAPTIVE_KEY(ag_v,
	bindings = <&ht_rgkp_kp V V>;
)
// B
ZMK_ADAPTIVE_KEY(ag_b,
	bindings = <&ht_rgkp_kp B B>;
)

// N
ZMK_ADAPTIVE_KEY(ag_n,
	bindings = <&ht_rgkp_kp N N>;
)
// M
ZMK_ADAPTIVE_KEY(ag_m,
	bindings = <&ht_rgkp_kp M M>;
)
// Comma
#define MAKE_AG_WITH_SHIFT_MORPH(NAME, KEY_1, KEY_1_LOWER, KEY_2, KEY_2_LOWER) \
	ZMK_ADAPTIVE_KEY(NAME, \
		bindings = <&KEY_1_LOWER ## _mod_morph>; \
		ag_ ## KEY_2_LOWER { \
			trigger-keys = <KEY_2>; \
			max-prior-idle-ms = <DEFAULT_ADAPTIVE_TIMEOUT_MS>; \
			bindings = <&ht_rgkp_kp LS(KEY_1) KEY_2>; \
		}; \
	) \
	ZMK_MOD_MORPH(KEY_1_LOWER ## _mod_morph, \
		bindings = <&KEY_1_LOWER ## _morph>, <&ht_rgkp_kp KEY_1 KEY_1>; \
		mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>; \
		keep-mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL)>; \
	) \
	ZMK_MOD_MORPH(KEY_1_LOWER ## _morph, \
		bindings = <&ht_rgkp_kp KEY_1 KEY_1>, <&ht_rgkp_kp LS(KEY_1) KEY_2>; \
		mods = <(MOD_RSFT)>; \
	)

MAKE_AG_WITH_SHIFT_MORPH(ag_comma, COMMA, comma, EXCLAMATION, exclamation)

// Dot
MAKE_AG_WITH_SHIFT_MORPH(ag_dot, DOT, dot, AT_SIGN, at_sign)

// Slash
MAKE_AG_WITH_SHIFT_MORPH(ag_slash, SLASH, slash, QUESTION, question)

/* Mods Row */

#define PRESERVE_ADAPTIVE_MODIFIERS_MS 500

#define PRESERVE_ADAPTIVE_MODIFIERS(KEY, TRIGGER_KEY, TRIGGER_KEY_LOWER) \
	ls_ ## TRIGGER_KEY_LOWER { trigger-keys = <LS(TRIGGER_KEY)>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LS(KEY)>; strict-modifiers; }; \
	lg_ ## TRIGGER_KEY_LOWER { trigger-keys = <LG(TRIGGER_KEY)>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LG(KEY)>; strict-modifiers; }; \
	la_ ## TRIGGER_KEY_LOWER { trigger-keys = <LA(TRIGGER_KEY)>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LA(KEY)>; strict-modifiers; }; \
	lc_ ## TRIGGER_KEY_LOWER { trigger-keys = <LC(TRIGGER_KEY)>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LC(KEY)>; strict-modifiers; }; \
	ls_lg_ ## TRIGGER_KEY_LOWER { trigger-keys = <LS(LG(TRIGGER_KEY))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LS(LG(KEY))>; strict-modifiers; }; \
	ls_la_ ## TRIGGER_KEY_LOWER { trigger-keys = <LS(LA(TRIGGER_KEY))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LS(LA(KEY))>; strict-modifiers; }; \
	ls_lc_ ## TRIGGER_KEY_LOWER { trigger-keys = <LS(LC(TRIGGER_KEY))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LS(LC(KEY))>; strict-modifiers; }; \
	lg_la_ ## TRIGGER_KEY_LOWER { trigger-keys = <LG(LA(TRIGGER_KEY))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LG(LA(KEY))>; strict-modifiers; }; \
	lg_lc_ ## TRIGGER_KEY_LOWER { trigger-keys = <LG(LC(TRIGGER_KEY))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LG(LC(KEY))>; strict-modifiers; }; \
	la_lc_ ## TRIGGER_KEY_LOWER { trigger-keys = <LA(LC(TRIGGER_KEY))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LA(LC(KEY))>; strict-modifiers; }; \
	ls_lg_la_ ## TRIGGER_KEY_LOWER { trigger-keys = <LS(LG(LA(TRIGGER_KEY)))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LS(LG(LA(KEY)))>; strict-modifiers; }; \
	ls_lg_lc_ ## TRIGGER_KEY_LOWER { trigger-keys = <LS(LG(LC(TRIGGER_KEY)))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LS(LG(LC(KEY)))>; strict-modifiers; }; \
	ls_la_lc_ ## TRIGGER_KEY_LOWER { trigger-keys = <LS(LA(LC(TRIGGER_KEY)))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LS(LA(LC(KEY)))>; strict-modifiers; }; \
	lg_la_lc_ ## TRIGGER_KEY_LOWER { trigger-keys = <LG(LA(LC(TRIGGER_KEY)))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LG(LA(LC(KEY)))>; strict-modifiers; }; \
	ls_lg_la_lc_ ## TRIGGER_KEY_LOWER { trigger-keys = <LS(LG(LA(LC(TRIGGER_KEY))))>; max-prior-idle-ms = <PRESERVE_ADAPTIVE_MODIFIERS_MS>; bindings = <&kp LS(LG(LA(LC(KEY))))>; strict-modifiers; };

// Left
ZMK_ADAPTIVE_KEY(ag_left,
	bindings = <&hml LCTRL LEFT>;
	PRESERVE_ADAPTIVE_MODIFIERS(LEFT, LEFT, left)
	PRESERVE_ADAPTIVE_MODIFIERS(LEFT, RIGHT, right)
	PRESERVE_ADAPTIVE_MODIFIERS(LEFT, DOWN, down)
	PRESERVE_ADAPTIVE_MODIFIERS(LEFT, UP, up)
)
// Right
ZMK_ADAPTIVE_KEY(ag_right,
	bindings = <&hmr LALT RIGHT>;
	PRESERVE_ADAPTIVE_MODIFIERS(RIGHT, LEFT, left)
	PRESERVE_ADAPTIVE_MODIFIERS(RIGHT, RIGHT, right)
	PRESERVE_ADAPTIVE_MODIFIERS(RIGHT, DOWN, down)
	PRESERVE_ADAPTIVE_MODIFIERS(RIGHT, UP, up)
)

// todo try numbers as right smart shift to restore auto rg backspace (I think I wont like it)
// todo: same as mod layer, no need to tap function key just hold
// todo: function keys same order as numbers
// todo: remap dollar which is at 2 right now
// todo; play pause button
// todo; left wm = prev window on tap, right wm = all windows
// todo: window urob keyss tristate
// todo: grave + a = à (compat mode for now)
// Tab
ZMK_ADAPTIVE_KEY(ag_tab, // todo: tab and shit tab cannot be repeated by being maintainted, same for arrows
	bindings = <&hml LGUI TAB>;
	PRESERVE_ADAPTIVE_MODIFIERS(TAB, TAB, tab)
)

// Down
ZMK_ADAPTIVE_KEY(ag_down,
	bindings = <&hmr LGUI DOWN>;
	PRESERVE_ADAPTIVE_MODIFIERS(DOWN, LEFT, left)
	PRESERVE_ADAPTIVE_MODIFIERS(DOWN, RIGHT, right)
	PRESERVE_ADAPTIVE_MODIFIERS(DOWN, DOWN, down)
	PRESERVE_ADAPTIVE_MODIFIERS(DOWN, UP, up)
)
// Up
ZMK_ADAPTIVE_KEY(ag_up,
	bindings = <&hmr LALT UP>;
	PRESERVE_ADAPTIVE_MODIFIERS(UP, LEFT, left)
	PRESERVE_ADAPTIVE_MODIFIERS(UP, RIGHT, right)
	PRESERVE_ADAPTIVE_MODIFIERS(UP, DOWN, down)
	PRESERVE_ADAPTIVE_MODIFIERS(UP, UP, up)
)
// Shift + Tab
ZMK_ADAPTIVE_KEY(ag_lstab,
	bindings = <&hml LCTRL LS(TAB)>;
)


/* Numpad */ // Numpad instead of keypad because it abbreviates kp as well

// aq = adaptive quit
#define MAKE_NUMPAD_KEY(NUMBER, BEHIND_KEY) \
	ZMK_ADAPTIVE_KEY(aq_np ## NUMBER ##, \
		bindings = <&np ## NUMBER ## _morph>; \
	) \
	ZMK_MOD_MORPH(np ## NUMBER ## _morph, \
		bindings = <&ht_kp_kp BEHIND_KEY N ## NUMBER>, <&ht_kp_kp BEHIND_KEY N ## NUMBER>; \
		mods = <(MOD_RSFT)>; \
	)

MAKE_NUMPAD_KEY(1, M)
MAKE_NUMPAD_KEY(2, COMMA)
MAKE_NUMPAD_KEY(3, DOT)
MAKE_NUMPAD_KEY(4, J)
MAKE_NUMPAD_KEY(5, K)
MAKE_NUMPAD_KEY(6, L)
MAKE_NUMPAD_KEY(7, U)
MAKE_NUMPAD_KEY(8, I)
MAKE_NUMPAD_KEY(9, O)


/* Smart Shift */

#define MAKE_SMART_SHIFT(NAME, SHIFT_KEY) \
	ZMK_ADAPTIVE_KEY(NAME, \
		bindings = <&ht_kp_ ## SHIFT_KEY ## _dance SHIFT_KEY 0>; \
	) \
	ZMK_HOLD_TAP(ht_kp_ ## SHIFT_KEY ## _dance, \
		flavor = "balanced"; \
		tapping-term-ms = <200>; \
		quick-tap-ms = <QUICK_TAP_MS>; \
		bindings = <&kp>, <&SHIFT_KEY ## _dance>; \
	) \
	ZMK_TAP_DANCE(SHIFT_KEY ## _dance, \
		tapping-term-ms = <400>; \
		bindings = <&sk SHIFT_KEY>, <&caps_word>, <&kp CAPSLOCK>; \
	)
MAKE_SMART_SHIFT(smart_lshift, LEFT_SHIFT)
MAKE_SMART_SHIFT(smart_rshift, RIGHT_SHIFT)

&caps_word {
	/delete-property/ ignore-modifiers;
};


/* Smart Number */


//ZMK_HOLD_TAP(smart_num,
//	flavor = "balanced";
//	tapping-term-ms = <200>;
//	quick-tap-ms = <QUICK_TAP_MS>;
//	bindings = <&mo>, <&num_dance>;
//)
//ZMK_TAP_DANCE(num_dance,
//	tapping-term-ms = <400>;
//	bindings = <&num_word NUMBERS>, <&tog NUMBERS>;
//)

//&num_word {
//	ignore-modifiers; // Needed for shortcuts like
//};
