// Unicode
ZMK_LEADER_SEQUENCE(leader_unicode, fr_a_grave, A)

ZMK_LEADER_SEQUENCE(leader_unicode, fr_c_cedilla, C)

ZMK_LEADER_SEQUENCE(leader_unicode, fr_e_acute, E)

ZMK_LEADER_SEQUENCE(leader_unicode, fr_a_circumflex, I A)
ZMK_LEADER_SEQUENCE(leader_unicode, fr_i_circumflex, I I)
ZMK_LEADER_SEQUENCE(leader_unicode, fr_o_circumflex, I O)
ZMK_LEADER_SEQUENCE(leader_unicode, fr_u_circumflex, I U)

ZMK_LEADER_SEQUENCE(leader_unicode, fr_e_grave, R)

ZMK_LEADER_SEQUENCE(leader_unicode, fr_e_diaeresis, U E)
ZMK_LEADER_SEQUENCE(leader_unicode, fr_i_diaeresis, U I)

ZMK_LEADER_SEQUENCE(leader_unicode, fr_e_circumflex, W)

ZMK_LEADER_SEQUENCE(leader_unicode, u_ellipsis, DOT)
